* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Madurai', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(0, 110, 255);
}
.wrapper {
    width: 400px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
}
.wrapper header {
    color: rgb(0, 110, 255);
    font-size: 25px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
}
header i {
    cursor: pointer;
    font-size: 30px;
    margin-right: 8px;
}
.wrapper .input-part {
    margin: 20px 25px 30px;
    display: none;
}
.input-part :where(input, button) {
    width: 100%;
    height: 55px;
    border: block;
    outline: block;
    font-size: 18px;
    border-radius: 7px;
}
.input-part input {
    text-align: center;
    border: 1px solid #bfbfbf;
}
.input-part input:is(:focus, :valid){
    border: 2px solid #43AFFC;
}
.input-part .info-txt {
    display: none;
    font-size: 20px;
    background: rgb(96, 165, 255);
    text-align: center;
    padding: 12px 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.info-txt.error {
    display: block;
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.info-txt.pending {
    display: block;
    color: #0c5460;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
}
.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before {
    content: "or";
    color: #ccc;
    font-size: 20px;
    padding: 0 15px;
    background: #fff;
}
.input-part button {
    color: #fff;
    cursor: pointer;
    background: rgb(0, 110, 255);
}

.wrapper .weather-part {
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.weather-part img {
    max-width: 125px;
}
.weather-part .temp {
    display: flex;
    font-size: 70px;
    font-weight: 500;
}
.weather-part .temp .numb {
    font-weight: 600;
}
.weather-part .temp .deg {
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}
.weather-part .location {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
}
.location i {
    font-size: 20px;
    margin-right: 5px;
}
